#startScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-image: url('../images/start.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center; 
    image-rendering: pixelated;
    
}


  
.controlling {
    image-rendering: pixelated;
}

.barriecito-regular {
    font-family: "Barriecito", serif;
    font-weight: 400;
    font-style: normal;
}

.namending {
    background-color: transparent;
    border: #c8edc5;
    border-radius: 2rem;
    border-style: solid;
    font-size: 30px;
}

#startScreen button {
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #c8edc5;
    border: none;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#startScreen button:hover {
    background-color: #a5c4a3;
}

#control button:hover {
    background-color: #a5c4a3;
}

#rules button:hover {
    background-color: #a5c4a3;
}

#rules {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    /* background-image: url('../images/start.png');
    image-rendering: pixelated; */
}

#rules button {
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #c8edc5;
    border: none;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#control button {
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #c8edc5;
    border: none;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
ul {
    list-style-position: inside;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 30px;
}

#control {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


#gameContainer {
    position: relative;
    width: 1300px; 
    height: 650px; 
    display: none;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

#winScreen {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#winScreen button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #c8edc5;
    border: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#winScreen button:hover {
    background-color: #a5c4a3;
}

#background {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 1300px;  
    height: 650px;
    background-image: url("../images/Richtige\ Fliesen.png");
    image-rendering: pixelated;
    background-size: cover;
}

.video {
    width: 50%;
}

#gameOverScreen {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#gameOverScreen button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #c8edc5;
    border: none;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#gameOverScreen button:hover {
    background-color: #a5c4a3;
}


#timer {
    position: sticky;    
    font-size: 24px;
    color: black;
    padding: 10px;
    text-align: center;
}

#timeoutGameOverScreen {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#timeoutGameOverScreen button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #c8edc5;
    border: none;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#timeoutGameOverScreen button:hover {
    background-color: #a5c4a3;
}

body {
    background-color: #ffebcd;
}